body{
    background: url(фон.jpg); 
		color: #fff !important; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
        background-repeat: repeat-x; 
        background-size: 100%;
}

#header
{
   
    text-align: center;
    background-color: #9470dba4;
    font-family: Snell Roundhand !important;
    font-style: italic !important;
    width: 100%;
}
#content
{
    background-color:  #c56dd1a9;
    max-width: 960px;
    margin: auto;
    
}
h1{
    font-size: 80px;
}
